

  .wrapper-class {
    padding: 1rem;
  }
  .editor-class {
    background-color:rgb(109, 226, 220);
    padding: 1rem;
    border: 1px solid #ccc;
    max-width: 600px;
    height: 150px;
  }
  .toolbar-class {
    background-color: #ffffff;
    border: 1px solid #ccc;
    max-width: 600px;
  }